<h1 class = "mt-2 ml-2">All stats</h1>
<h6 class = "ml-2">Filters (click one to filter)</h6>
<% @all_tags.each do |tag| %>
  <% if tag == current_tag %>
    <%= link_to tag.to_s.capitalize, tag_path(tag), class: 'badge badge-default ml-2'%>
  <% else %>
    <%= link_to tag.to_s.capitalize, tag_path(tag), class: 'badge badge-primary ml-2'%>
  <% end %>
<% end %>
<% if current_tag.present? %>
  <%= link_to 'Clear filter', stats_path, class: 'badge badge-info ml-2' %>
<% end %>
<hr class = "mt-1 mb-0"/>
<div class = "col-10 offset-1">
<br />

  <div class = "row">
      <% @stats.each do |stat| %>
      <div class = "col-lg-6">
        <div class = "card mx-3">
          <div class = "card-header">
            <b>Fact #<%= stat.id %></b>
          </div>
          <div class="card-block pt-1">
            <small class = "text-muted">Categories: </small>
            <% stat.tag_list.each do |tag| %>
              <span class="badge badge-primary"><%= tag.capitalize %></span>
            <% end %>
            <h3 class="card-title text-center my-3 mx-0"><%= stat.fact %></h3>
            <br />
            <p class="card-subtitle text-right">- <i><%= stat.source %> (<%= stat.year %>)</i></p>
          </div>
          <ul class="list-group list-group-flush">
            <% if stat.sample.present? %>
              <li class="list-group-item">
                <small class = "text-muted"><i class="fa fa-line-chart" aria-hidden="true"></i> Statistics: &nbsp</small>
                <span class="badge badge-default">n = <%= stat.sample %></span>         
              </li>
            <% end %>
            <li class="list-group-item text-center">
            <%= link_to stat.link, class: "col-12", target: :_blank do%>
              <button type="button" class="btn btn-secondary col-12" data-toggle="tooltip" data-placement="top" title="Hint: <%= stat.instruction.capitalize %>">
                See original
              </button>
            <% end %>
            </li>
          </ul>
        </div>
      <br />
      </div> 
    <% end %>
  </div>
</div>

<script>
$(document).ready(function(){
    $(".card").hide(0).delay(100).fadeIn("slow")
});
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script> 
