<br />

<div class = "row">
  <div class = "col-10 offset-1 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      The <a href="http://www.seedmusic.co.uk" class="alert-link" target="_blank">one thing</a> that could improve your workplace's productivity, retention and recruitment...
    </div>
    <div class = "card">
      <div class = "card-header">
        <b>Fact #<%= @stat.id %></b>
      </div>
      <div class="card-block pt-1">
        <small class = "text-muted">Categories: </small>
        <% @stat.tag_list.each do |tag| %>
          <span class="badge badge-primary"><%= tag.capitalize %></span>
        <% end %>
        <h3 class="card-title text-center my-3 mx-0"><%= @stat.fact %></h3>
        <br />
        <p class="card-subtitle text-right">- <i><%= @stat.source %> (<%= @stat.year %>)</i></p>
      </div>
      <ul class="list-group list-group-flush">
        <% if @stat.sample.present? %>
          <li class="list-group-item">
            <small class = "text-muted"><i class="fa fa-line-chart" aria-hidden="true"></i> Statistics: &nbsp</small>
            <span class="badge badge-default">n = <%= @stat.sample %></span>         
          </li>
        <% end %>
        <li class="list-group-item text-center">
        <%= link_to @stat.link, class: "col-12", target: :_blank do%>
          <button type="button" class="btn btn-secondary col-12" data-toggle="tooltip" data-placement="top" title="Hint: <%= @stat.instruction.capitalize %>">
            See original
          </button>
        <% end %>
        </li>
      </ul>
    </div>
    <%= link_to random_stats_path, class: 'btn btn-turquoise col-12 mt-2' do %>
      <i class="fa fa-refresh" aria-hidden="true"></i>&nbsp
      Show me another!
    <% end %>
  </div>
</div>
<script>
$(document).ready(function(){
    $(".card").hide(0).delay(100).fadeIn("slow")
});
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
